body{
    display: flex;
    background: black;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#name{
    display: block;
    width: 40dvw;
    height: 4dvh;
    margin-bottom: 5dvh;
}
textarea{
    background-color: aquamarine;
    display: none;
}
button{
    align-items: center;
    justify-content: center;
    width: 40dvw;
    height: 20dvh;
    background-color: lawngreen;
    color: black;
    font-weight: 600;
    transition: 2s;
}